<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div class="container">
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
    <li> Hello you are succesfuly resisterd {{user.username}} </li>
    {% endif %}
</div>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username"><br>
    <input type="password" name="password" placeholder="Enter Password"><br>
    <input type="submit">
</form>
</body>
</html>